<div class="card mb-4">
    <div class="card-header">
        {{issue.date_create}}
    </div>
    <div class="card-body">
                {% if issue.photo %}
                <p>
                        <img src="{{issue.photo.url}}" class="img-article-left thumb">
                </p>
        {% endif %}
        <h5 class="card-title">{{ issue.title }}</h5>
        <p class="card-text">{{ issue.body|truncatewords:15 }}</p>
        <a href="{{ issue.get_absolute_url }}" class="btn btn-primary">Read</a>
    </div>
    <div class="card-footer text-muted">
        Tags:
        {% for tag in issue.tags.all %}
            <a href="{{ tag.get_absolute_url }}"> {{ tag.title }}</a>
        {% endfor %}
    </div>
</div>