{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" class="">
    <link rel="stylesheet" href="{% static 'blog_app/css/styles.css' %}" class="">
    <title>
        {% block title %}
        Blog home
        {% endblock %}
    </title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'post_list_url' %}">Стена</a>
        <a class="navbar-brand" href="{% url 'home' %}">Тестирование</a>
        <a class="navbar-brand" href="{% url 'tags_list_url' %}">Теги</a>


        <div class="btn-group">
        <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Задачи
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'issue_create_url' %}">Создать задачу</a>
            <a class="dropdown-item" href="{% url 'issues_list_url' %}">Все задачи</a>
        </div>
    </div>

        <form class="d-flex" role="search" action="{% url 'post_list_url' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Найти</button>
        </form>

        {% if request.user.is_authenticated %}
            <a class="navbar-brand" href="#">{{ user.username }}</a> |
            <a class="navbar-brand" href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a class="navbar-brand" href="{% url 'register' %}">Регистрация</a> | 
            <a class="navbar-brand" href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
</nav>


<div>

            {% block content %}
                Blog content for you in home
            {% endblock %}



</div>


{% if request.user.is_authenticated and request.user.is_staff %}
    <div class="admin-panel align-items-center">
        <a href="/admin" class="btn btn-outline-info">Admin</a>
        {% block admin-panel %}
            <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Создать
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'post_create_url' %}">Пост</a>
                    <a class="dropdown-item" href="{% url 'tag_create_url' %}">Тег</a>
                    <a class="dropdown-item" href="{% url 'issue_create_url' %}">Задачу</a>
                </div>
            </div>
            <a href="{{ admin_panel.get_update_url}}" class="btn btn-light edit" style="{% if detail %}display: block;{% endif %}">Изменить</a>
            <a href="{{ admin_panel.get_delete_url}}" class="btn btn-danger delete" style="{% if detail %}display: block;{% endif %}">Удалить</a>
        {% endblock %}
    </div>
{% endif %}


</body>
</html>