{% extends "blog_app/blog_sh.html" %}

{% block title %}
run
{% endblock %}

{% block content %}
<table class="table-content" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" class="left-chapters">
            <ul id="leftchapters">
                <li class="alert alert-dark" role="alert">
                        <a href="{% url 'post_list_url' %}">Все категории</a>
                    </li>

                {% for catalog in catalog_for_post %}

                     <li class="alert alert-dark" role="alert">
                        <a href="{{ catalog.get_absolute_url }}">{{ catalog.title }}</a>
                    </li>


                <!--{% if catalog.is_passed %}
                        <li class="alert alert-success" role="alert"><a href="{{ folder.get_absolute_url }}">{{ folder.title }}</a></li>
                    {% else %}
                <li class="alert alert-dark" role="alert">
                    <a href="{{ folder.get_absolute_url }}">{{ folder.title }}</a>
                </li>
                {% endif %}--!>

                {% endfor %}


            </ul>
        </td>

        <td class="content" valign="top">
            <!-- хлебные крошки -->
            {% block breadcrumbs %}
            {% endblock %}


            <a href="{% url 'post_create_url' %}" class="btn btn-primary mb-3">Создать пост</a>
            <br>
            <p>Отправка GET запроса (generics.ListAPIView) с сериализатором</p>
            <a href="{% url 'api_post_list_url_v1' %}" class="btn btn-warning mb-3">GET API v1</a>

            <p>Отправка GET запроса (generics.ListAPIView) БЕЗ сериализатора</p>
            <a href="{% url 'api_post_list_url_v2' %}" class="btn btn-warning mb-3">GET API v2</a>

            <br>
            <h1 class="mb-2">Все посты (всего: {{ count }})</h1>
            {% for post in page_object.object_list %}
                {% include 'blog_app/includes/post_card_template.html' %}
            {% endfor %}

            <!--Пагинатор-->
            {% include 'includes/paginator.html' %}

        </td>
    </tr>



</table>


{% endblock %}