{% extends "blog_app/index.html" %}

{% block title %}
        {{ post.title }} - {{ block.super }}
{% endblock %}


{% block content %}
        {% if post.photo %}
                <p>
                        <img src="{{post.photo.url}}" alt="" class="img-article-left thumb">
                </p>
        {% endif %}
        <h1 class="mt-5">{{ post.title }}</h1>
        <a href="{{ post.get_update_url }}" class="btn btn-primary  mb-2">Изменить</a>
        <a class="btn btn-danger mb-2" href="{{ post.get_delete_url }}" role="button">Удалить</a>
        <p> {{ post.body|linebreaks }} </p>
{% endblock %}