{% extends "blog_app/index.html" %}

{% block title %}
    Post Delete - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{{ post.get_delete_url }}"  method="POST">
        {% csrf_token %}

        <h3>Вы действительно хотите удалить пост "{{ post.title|title}}"?</h3>
        <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">Отмена</a>
        <button type="submit" class="btn btn-danger">Удалить</button>
{% endblock %}