{% extends "blog_app/blog_sh.html" %}

{% block title %}
    {{ tag.title }} - {{ block.super }}
{% endblock %}


{% block content %}
    <h1 class="mb-5">Posts with "{{ tag.title|title }}" tag:</h1>
    <a class="btn btn-primary mb-2" href="{{ tag.get_update_url }}" role="button">Изменить</a>
    <a class="btn btn-danger mb-2" href="{{ tag.get_delete_url }}" role="button">Удалить</a>
    {% for post in tag.posts.all %}
        {% include 'blog_app/includes/post_card_template.html' %}
    {% endfor %}
{% endblock %}