{% extends "blog_app/blog_sh.html" %}

{% block title %}
    Tag Delete - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{{ tag.get_delete_url }}"  method="POST">
        {% csrf_token %}

        <h3>Вы действительно хотите удалить тег "{{ tag.title|title}}"?</h3>
        <a href="{{ tag.get_absolute_url }}" class="btn btn-secondary">Отмена</a>
        <button type="submit" class="btn btn-danger">Удалить</button>
{% endblock %}