{% extends "blog_app/blog_sh.html" %}

{% block title %}
    Tag Edit - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{{ tag.get_update_url }}"  method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}
