{% extends "blog_app/index.html" %}

        {% block title %}
Tags list - {{ block.super }}
        {% endblock %}


{% block content %}
<a class="btn btn-primary" href="{% url 'tag_create_url' %}" role="button">Create new tag</a>
<h1 class="mt-5">Tags:</h1>
    {% for tag in tags %}
        <h3><a href="{{tag.get_absolute_url}}"> {{ tag.title }}</a></h3>
    {% endfor %}
{% endblock %}
