.admin-panel {
    border: 1px;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.3;
    padding: 15px;

}

.admin-panel:hover {
    opacity:1;
}

.admin-panel a {
    display:block;
    margin: 5px;
}

a.edit, a.delete {
display: none;
}

.regis {
    border: 1px;
    border-radius: 2px;

    right: 50px;
    bottom: 30px;
    opacity: 0.3;
    padding: 15px;

}

