{% extends "baseg.html" %}

{% block title %}
Все задачи
{% endblock %}

{% block content %}
<table class="table-content" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" class="left-chapters">
            <ul id="leftchapters">
                <li class="alert alert-dark" role="alert">
                        <a href="#">меню 1</a>
                    </li>
                <li class="alert alert-dark" role="alert">
                        <a href="#">меню 2</a>
                    </li>




                <!--{% if catalog.is_passed %}
                        <li class="alert alert-success" role="alert"><a href="{{ folder.get_absolute_url }}">{{ folder.title }}</a></li>
                    {% else %}
                <li class="alert alert-dark" role="alert">
                    <a href="{{ folder.get_absolute_url }}">{{ folder.title }}</a>
                </li>
                {% endif %}--!>




            </ul>
        </td>

        <td class="content" valign="top">
            <!-- хлебные крошки -->
            {% block breadcrumbs %}
            {% endblock %}

            <a href="{% url 'issue_create_url' %}" class="btn btn-primary mb-3">Создать задачу</a>
            <h1 class="mb-2">Все задачи (всего: {{ all_issues.count }})</h1>
            {% for issue in all_issues %}
                {% include 'testing_app/includes/issue_for_list_template.html' %}
            {% endfor %}

            <!--Пагинатор-->
            {% include 'blog_app/includes/paginator.html' %}

        </td>
    </tr>



</table>


{% endblock %}