{% extends "baseg.html" %}

{% block title %}
    Создание задачи - {{ block.super }}
{% endblock %}

{% block content %}
    <form action="{% url 'issue_create_url' %}"  method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}

                {{ field.label }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Create Issue</button>
    </form>
{% endblock %}