{% extends "baseg.html" %}

{% block title %}
    Авторизация - {{ block.super }}
{% endblock %}

<div>
<div>
{% block content %}
    <h1>Авторизация: </h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Войти</button>
    </form>
{% endblock %}
</div>
</div>