{% extends "baseg.html" %}

{% block title %}
    Регистрация - {{ block.super }}
{% endblock %}

<div>
<div>
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for f in form %}
            <p><label for="{{ f.id_for_label }}" class="form-label">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Регистрация</button>
    </form>
{% endblock %}
</div>
</div>